<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>销售系统管理API文档</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <h3>代理地址：118.25.127.172:8080</h3>
        </div>
        <ul style="list-style: none;padding: 0;margin: 0;padding-bottom: 20px;">
            {% for item in list %}
            <li>
                <h3 class="bg-primary" style="padding: 5px;">{{item.title}}</h3>
                <h4 class="bg-info" style="padding: 5px;">参数：</h4>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>属性名称</th>
                            <th>属性类型</th>
                            <th>默认值</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in item.params %}
                        <tr>
                            <td>{{p.name}}</td>
                            <td>{{p.type}}</td>
                            <td>{{p.default}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4 class="bg-info" style="padding: 5px;">返回：</h4>
                {% for res in item.response %}
                <code>
                        {{res}}
                    </code> {% endfor %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>